{{ partial "header" .}}

  <h1 id="title"> {{ .Title }}</h1>
  {{ .Content }}
  <br>
  {{ range .Pages.ByDate.Reverse }}
    {{ partial "projects/item" .}}
    <br>
  {{ end }}

{{ partial "footer" .}}
