{{ partial "header" .}}

<h1>{{ .Title }}</h1>
<div class="tags">
  {{ partial "projects/tags" .}}
</div>
<br>
<br>
<img title="{{.Title}}" alt="{{.Title}}" src="/projects/{{ .Params.Thumbnail }}" />
<br>
<hr>
<br>

<div class="toc-box">
<h2>Contents</h2>
{{ .TableOfContents }}
</div>
{{ .Content }}

{{ if .Params.testimonial }}
  <h4>Testimonial</h4>
  <div class="testimonial-list">
    {{ with .Params.testimonial }}
        {{ partial "projects/testimonial" . }}
    {{ end }}
  </div>
{{ end }}

{{ partial "footer" .}}
