::selection
  background: #5b9dc6; /* WebKit or Blink Browsers */
  color: white

::-moz-selection
  background: #5b9dc6; /* Gecko Browsers */
  color: white

code::selection
    // background-color: #e5e5e5;
    color: yellow
    font-family: monospace

code::-moz-selection
    // background-color: #e5e5e5;
    color: yellow
    font-family: monospace

.small
  font-size: $font-size_small

.active
  font-weight: 500


#content, header
  .icon
    margin-right: 5px
    display: inline-block
    svg
      width: auto

header
  .icon
    fill: white
    margin-right: 10px
#content
  .icon
    fill: $dark-blue

#content:not(.project)
  img
    width: 110%
    display: block
    margin: 0 -5%


.published-date, .reading-time
  display: inline-block
  margin-bottom: 20px

.reading-time
  margin-right: 20px

.img-caption
  margin-bottom: $margin-blocks/6 !important

.project
  img
    max-width: 100%
    margin-bottom: $margin-blocks
    box-shadow: $box-shadow

  .rounded-img
    +rounded

  .testimonial-list
    margin: 0 auto
    display: flex

    .testimonial-container
      display: inline-block
      text-align: center

      .testimonial-name, .testimonial-role
        text-align: center
        font-weight: $font-weight_h1
        font-size: $font-size_main_large
        margin-top: -2/3*$margin-blocks
      .testimonial-role
        font-weight: $font-weight_main

      .testimonial-text
        position: relative
        z-index: 0


  .project-tags
    margin-top: $margin-blocks/5
    span
      font-weight: $font-weight_h1
    a
      overflow-wrap: break-word
  .tags
    margin-bottom: $margin-blocks/3

#content
  .project-list
    h2
      margin: 0

    a, a:hover, a:link, a:active, a:visited, a:focus
      border-bottom: none
      color: inherit

    img
      max-width: 100%
      border-radius: 2px
      display: block
      box-shadow: $box-shadow
      margin: inherit

    .project-container
      position: relative
      max-width: $max-width-content
      margin-bottom: $margin-blocks

      .project-details
        opacity: 0
        display: none
        width: 100%
        padding: 2em 1em
        color: $primary-color
        +transition(opacity 0.4s ease)

        p, h2
          text-align: center
          margin-bottom: 0
          position: relative


      .img-overlay
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        height: 100%
        width: 100%
        opacity: 0
        +transition(0.3s ease)
        background-color: $grey-900

      &:hover
        .img-overlay
          opacity: 0.95

        .project-details
          opacity: 1
          display: block
          position: absolute
          top: 50%
          left: 50%
          +transform(translate(-50%, -50%))

    img:hover
      linear-gradient: $dark-blue, $dark-blue

    .project-container
      +smartphone
        img
          margin-bottom: 0

        .img-overlay
          display: none

        .project-details
          display: block
          opacity: 1
          width: 100%
          padding: 0px
          color: $grey-900

          h2
            font-size: $font-size_h3
            line-height: $line-height_main

            span
              background-image: linear-gradient(180deg, transparent 60%, $primary-color 0)
              padding: 0 0.2em

          p, h2
            text-align: center
            margin-bottom: 0
            position: relative

        &:hover
          .project-details
            +transform(none)
            position: relative
            left: 0


.designs, .technologies, .blurb
  display: inline-block

.designs
  margin-right: 20px

.read-more
  margin-top: -$margin-blocks/3
  text-align: right
  display: block

.chroma
  padding: 10px

.toc-box
    > h2
        text-indent: 1em
    padding: 0.5em 3em 0.5em 0em
    // box-shadow: 4px 8px #888888;
    display: inline-block
    background-color: #f2f2f2

#TableOfContents
  overflow: hidden
  padding-left: 2em
  max-height: 100%
  > ul
    list-style-type: disc
    padding-top: 1em
    > li ul
      list-style-type: circle
      padding-top: 1em

.badge-tag, a.badge-tag
    margin: 2px 2px 2px 2px
    padding: 0.5em 0.5em 0.5em 0.5em
    color: #ffffff
    background-color: #41a9f4
    &:hover, &:focus
        color: #ffffff
        background-color: #418ef4
        border-bottom: none

.badge
    margin: 2px 2px 2px 2px
    display: inline-block
    padding: 0.5em 0.5em 0.5em 0.5em
    font-size: 0.8em
    font-weight: bold
    line-height: 1.5
    text-align: center
    white-space: nowrap
    border-radius: 0.05rem

code
    background-color: none
    font-family: monospace

.logo-container
    > a img
        display: block

#Navigation

.navigation
    max-width: 50%
    margin: 0 auto
    margin-top: 60px
    > a
        font-size: 0.8rem
        display: flex
        align-items: center
        justify-content: center
        padding: 15px
        color: $secondary-color
        border: 2px solid $secondary-color
        line-height: 1.25
        text-transform: uppercase
        &:nth-child(2)
            margin-top: 10px
        &:first-child:last-child
            width: 100%
    // &:hover
    //     padding: 14px
    //     border-width: 3px
    .fa
        font-size: 0.8rem
    .navigation-prev
        text-align: left
        .navigation-tittle
            padding-left: 4px
            > a
                text-transform: none
    .navigation-next
        text-align: right
        .navigation-tittle
            padding-right: 4px
            > a
                text-transform: none
