<div class="project-list">
  <a href="{{.Permalink}}">
    <div class="project-container">
      <img title="{{.Title}}" alt="{{.Title}}" src="/projects/{{ .Params.Thumbnail }}" />
      <div class="img-overlay">
      </div>
      <div class="project-details">
        <h2><span> {{ .Title }} </span></h2>        
        <p class="small"> {{ .Params.jobDate }} </p>
        <br>
        <p class="small"> {{ .Params.blurb }} </p>
        <br>
        <p class="small" style="font-style: italic;"> {{ delimit .Params.technologies ", " | safeHTML }} </p>
      </div>
    </div>
  </a>
</div>
