{{ if .Params.designs }}
  <div class="designs project-tags">
    {{ partial "svg" (dict "iconName" "pencil" "size" "18px")}}
    {{ range $i, $e := .Params.designs }}
      <span>
        {{- with $.Site.GetPage "taxonomyTerm" (printf "designs/%s" ( urlize .)) -}}
          {{- if $i -}}<span>- </span>{{ end }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
      </span>
    {{ end }}
  </div>
{{end}}

{{ if .Params.technologies }}
  <div class="technologies project-tags">
    {{ partial "svg" (dict "iconName" "tech" "size" "18px")}}
    <span>
      {{ range $i, $e := .Params.technologies }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "technologies/%s" ( urlize .)) -}}
          {{- if $i -}}<span>- </span>{{ end }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
      {{ end }}
    </span>
  </div>
{{ end }}

{{ if .Params.projectUrl }}
  <div class="project-tags">
    {{ partial "svg" (dict "iconName" "hyperlink" "size" "18px")}}
    <a target="_blank" href="{{.Params.projectUrl}}">{{.Params.projectUrl}}</a>
  </div>
{{ end }}

<div class="project-tags">
  {{ partial "svg" (dict "iconName" "clock" "size" "18px")}}
  <span>{{ .Params.jobDate }}</span>
</div>
