<div class="testimonial-container">
  <img class="rounded-img" src="/projects/{{.image}}" alt="{{.name}}" title="{{.name}}" />
  <p class="testimonial-name">{{ .name }}</p>
  <p class="testimonial-role">{{ .role }}</p>
  <blockquote class="testimonial-text">{{ .text }}</blockquote>
</div>
