{{ partial "header" .}}

  <h1 id="title"> {{ .Title }}</h1>
  {{ .Content }}
  <br>
  <hr>

  <div class="post-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      {{ partial "posts/item" .}}
    {{ end }}
  </div>

{{ partial "footer" .}}
