{{ partial "header" .}}

<h1>{{ .Title }}</h1>
{{ partial "posts/information" . }}

{{ .Content }}

<br>
<hr>

<span> {{ partial "post_tags.html" .}} </span>

<br>

<div class="navigation">
    {{ with .PrevInSection }}
    <a href="{{ .RelPermalink }}" class="navigation-prev">
      <span class="navigation-tittle"> <b>< Previous Post ||</b> {{ .Title}}</span>
    </a>
    {{ end }}
    {{ with .NextInSection }}
    <a href="{{ .RelPermalink }}" class="navigation-next">
      <span class="navigation-tittle"> {{ .Title }} <b>|| Next Post ></b></span>
    </a>
    {{ end }}
</div>

{{ partial "footer" .}}
