<div class="published-date" style = "font-weight:bold; font-style:italic;">
  <!-- {{ partial "svg" (dict "iconName" "calendar" "size" "18px")}} -->
  <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
  <br>
</div>
