<div class="post-container">
  <h2>
    <a href="{{.Permalink}}">{{ .Title }}</a>
  </h2>
  <p style="font-style:italic;"> {{.Date.Format "January 2, 2006"}} </p>
  <p>{{ .Summary }}</p>
  <br>
  <hr>
</div>
