    </main>
  </div>
  <footer>
    <div class="footer-wrapper">
      <p>Powered by <a href="https://gohugo.io/" target="_blank" rel="external">Hugo</a>. Theme derived from <a href="https://github.com/bjacquemet/personal-web" target='_blank' rel="external">Personal Web</a>.</p>
      <p>{{ .Site.Copyright}}</p>
    </div>
  </footer>
  {{ template "_internal/google_analytics.html" . }}
</body>
</html>
