<!DOCTYPE html>

<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600|Roboto:400,400i,600" rel="stylesheet">

<html lang='{{ .Site.Language.Lang }}'>

<head>
    <title> {{ .Title }} | {{ $.Site.Params.title }}</title>
    {{ partial "head/meta.html" . }}
    {{ partial "head/style.html" . }}
    {{ template "_internal/schema.html" . }}
</head>

<body>

  {{ partialCached "sidebar/sidebar" .}}

<div class="content-wrapper">
    <main id="content" class="{{ .Section }}">

</body>
</html>
