<!-- layouts/partials/tags.html -->

{{ $taxonomy := "tags" }}

<h4>Tags</h4>
{{ with .Param $taxonomy}}
  {{ $total := len . }}
  {{ if gt $total 0 }}
      <!-- {{ $subtotal := sub $total 1 }} <i class="fas fa-tags"></i> -->
      {{ range $i, $tag := . }}
      <a class="badge badge-tag" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | printf "%s" }}</a>
      {{ if lt $i $subtotal }} {{ end }}
  {{ end }}
{{ end }}
{{ end }}
