{{ partial "header_sanscrumbs" .}}

<h1>{{ .Site.Params.notFound.h1 }}</h1>
<p>{{ .Site.Params.notFound.p }}</p>
<img src="{{ .Site.Params.notFound.gopher }}" alt="gopher" title="gopher" class="gopher" />

{{ if .Site.Params.mainSections }}
  {{ $scratch := newScratch }}
  {{ if in .Site.Params.mainSections "projects" }}
    {{ $scratch.Set "section" .Site.Params.sections.projects }}
  {{ else }}
    {{ $scratch.Set "section" (.Site.Params.sections.post) }}
  {{ end }}

  <p>While you're here, you can check out my last project:</p>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ range first 1 $pages }}
    {{ if in .Site.Params.mainSections "projects" }}
      {{ partial "projects/item" .}}
    {{ else if in .Site.Params.mainSections "posts" }}
      {{ partial "posts/item" .}}
    {{ end }}
  {{ end }}
{{end}}

{{ partial "footer" .}}
