{{ partial "header" .}}

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

<h2>What I'm working on</h2>
  <div>
      {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
      {{ range first 1 $pages }}
        {{ if in .Site.Params.mainSections "projects" }}
            {{ partial "projects/item" .}}
        {{ else if in .Site.Params.mainSections "posts" }}
            {{ partial "posts/item" .}}
        {{ end }}
      {{ end }}
  </div>

{{ partial "footer" .}}
