{{ partial "header" .}}

  {{ .Content }}
  <ul id="all-tags">
    {{ range $name, $taxonomy := .Site.Taxonomies.technologies }}
        {{ with $.Site.GetPage (printf "/technologies/%s" $name) }}
            <li><a href="{{ .Permalink }}">{{ $name | humanize }}</a></li>
        {{ end }}
    {{ end }}
</ul>

{{ partial "footer" .}}
